<section ng-controller="<<capModuleName>>sController" ng-init="find()">
  <div class="page-header">
    <h1><<capModuleName>>s</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="<<minModuleName>> in <<minModuleName>>s" ui-sref="<<minModuleName>>s.view({<<minModuleName>>Id: <<minModuleName>>._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="<<minModuleName>>.created | date:'mediumDate'"></span>
        by
        <span ng-if="<<minModuleName>>.user" ng-bind="<<minModuleName>>.user.displayName"></span>
        <span ng-if="!<<minModuleName>>.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="<<minModuleName>>.title"></h4>
      <p class="list-group-item-text" ng-bind="<<minModuleName>>.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="<<minModuleName>>s.$resolved && !<<minModuleName>>s.length">
    No <<minModuleName>>s yet, why don't you <a ui-sref="<<minModuleName>>s.create">create one</a>?
  </div>
</section>
