<section ng-controller="<<capModuleName>>sController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="<<minModuleName>>.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == <<minModuleName>>.user._id">
    <a class="btn btn-primary" ui-sref="<<minModuleName>>s.edit({<<minModuleName>>Id: <<minModuleName>>._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="<<minModuleName>>.created | date:'mediumDate'"></span>
      by
      <span ng-if="<<minModuleName>>.user" ng-bind="<<minModuleName>>.user.displayName"></span>
      <span ng-if="!<<minModuleName>>.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="<<minModuleName>>.content"></p>
</section>
